{{> header}}

    <div id="download">
        <div class="container">

            <h2>Приложение Open WiFi для Android</h2>

            <div class="row">
                <div class="span12">
                    <div class="alert alert-block">
                        <h4 class="alert-heading"><strong>Внимание</strong></h4>
                        <p>Это <strong>тестовая</strong> версия приложения, в которой реализован еще далеко не весь запланированный функционал. Некоторые меню просто не делают <strong>ничего</strong>. Вы можете свободно использовать это приложение и <a href="http://openwifi.userecho.com/" target="_blank">отправлять нам свои отзывы и вопросы</a>, <a href="http://openwifi.userecho.com/" target="_blank">писать</a> о найденных недоработках, а также отправлять отчеты о неизвестных нам ошибках через встроенный диалог.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <h3>Скачать с этого сайта</h3>

                    <p>Lorem Ipsum.</p>
                </div>
                <div class="span6">
                    <h3>Скачать с Яндекс.Store</h3>

                    <p>Lorem Ipsum.</p>
                </div>
            </div>

        </div>
    </div>

{{> footer}}
