{{> header}}

    <div id="download">
        <div class="container">

            <h2>Приложение Open WiFi для Android <small>2.x и выше</small></h2>

            <div class="row">
                <div class="span12">
                    <div class="alert alert-block">
                        <p>Это <strong>тестовая</strong> версия приложения, в которой реализован еще далеко не весь запланированный функционал. Некоторые меню просто не делают <strong>ничего</strong>.</p>
                        <p>Вы можете свободно использовать это приложение и <a href="http://openwifi.userecho.com/" target="_blank">отправлять нам свои отзывы и вопросы</a>, <a href="http://openwifi.userecho.com/" target="_blank">писать</a> о найденных недоработках, а также отправлять отчеты о неизвестных нам ошибках через встроенный диалог. Это поможет сделать приложение функциональным и удобным.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <h3>Скачать с этого сайта</h3>

                    <p><a class="btn btn-success" href="#">Скачать APK</a></p>

                    <div class="alert alert-info">
                        <p>Для установки APK в версиях <strong>Android 4.x</strong> нужно установить галку <strong>Настройки &rarr; Безопасность &rarr; Неизвестные источники</strong>.</p>
                        <p>В версиях <strong>Android 2.x</strong> нужно установить галку <strong>Настройки &rarr; Приложения &rarr; Неизвестные источники</strong>.</p>
                    </div>
                </div>
                <div class="span6">
                    <h3>Скачать с Яндекс.Store</h3>

                    <p>Lorem Ipsum.</p>
                </div>
            </div>

        </div>
    </div>

{{> footer}}
