{{> header}}

    <div id="download">
        <div class="container">

            <h2>Приложение Open WiFi для Android <small>2.1 и выше</small></h2>

            <div class="row">
                <div class="span6">
                    <h3>Скачать с этого сайта</h3>

                    <p>Просканируйте этот QR-код для скачивания приложения.</p>

                    <p><a href="http://openwifi.info/static/apk/openwifi-client-android-0.1.4-9.apk" title="Скачать APK с этого сайта"><img src="http://chart.apis.google.com/chart?cht=qr&chs=350x350&chld=Q&choe=UTF-8&chl=http%3A%2F%2Fopenwifi.info%2Fstatic%2Fapk%2Fopenwifi-client-android-0.1.4-9.apk" alt="QR-код для скачивания приложения"></a></p>
                </div>
                <div class="span6">
                    <h3>Установить с Яндекс.Store</h3>

                    <p>Просканируйте этот QR-код для установки приложения с <a href="http://store.yandex.ru/" target="_blank">Яндекс.Store</a>.</p>

                    <p><a href="market://details?id=info.eigenein.openwifi" title="Установить с Яндекс.Store"><img src="http://chart.apis.google.com/chart?cht=qr&chs=350x350&chld=H&choe=UTF-8&chl=market%3A%2F%2Fdetails%3Fid%3Dinfo.eigenein.openwifi" alt="QR-код для установки приложения с Яндекс.Store"></a></p>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <p>Для установки приложения из APK или <a href="http://store.yandex.ru/" target="_blank">Яндекс.Store</a> в версиях <strong>Android 4.x</strong> нужно включить опцию <strong>Настройки &rarr; Безопасность &rarr; Неизвестные источники</strong>.</p>
                    <p>В версиях <strong>Android 2.x</strong> нужно включить опцию <strong>Настройки &rarr; Приложения &rarr; Неизвестные источники</strong>.</p>
                </div>
            </div>

        </div>
    </div>

{{> footer}}
