    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h2>{{#t}}About Project{{/t}}</h2>
                    <p>{{#t}}Open WiFi is a project that allows you to stay in touch.{{/t}}</p>
                </div>

                <div class="span4">
                    <h2>{{#t}}Statistics{{/t}}</h2>
                    12345 сетей Wi-Fi<br>
                    100500 точек доступа<br>
                    <a href="#" class="">{{#t}}More Info{{/t}} &rarr;</a>
                </div>

                <div class="span4">
                    <h2>Обратная связь</h2>
                    <a href="http://openwifi.userecho.com">Предложить</a> идею<br>
                    <a href="mailto:info@openwifi.info">Написать нам письмо</a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footer -->

    <div id="copyright">
        <div class="container">
            <div class="row">
                <p class="span6">© 2013 Open WiFi</p>
                <p class="span6"><a class="pull-right" href="#">Наверх &uarr;</a></p>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /copyright -->

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->

    </body>
</html>
