    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h2>Twitter</h2>
                    <p>Blyve spock joyent doostang fleck blekko jumo diigo airbnb plickers, ngmoco handango glogster gsnap lala twones geni airbnb cotweet jibjab. Yoono appjet rovio edmodo.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <h2>About</h2>
                    <p>Blyve spock joyent doostang fleck blekko jumo diigo airbnb plickers, ngmoco handango glogster gsnap lala twones geni airbnb cotweet jibjab. Yoono appjet rovio edmodo.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <h2>Contact</h2>
                    <address>
                        Studio 16, Near Lighthouse, Someplace CF87ADN, Country<br>
                        Phone: +89 (0)7869 38965<br>
                        Email: <a href="mailto:#">hello@frequency.com</a><br>
                        <a href="#">Download our vcard</a>
                    </address>
                </div><!-- /span4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footer -->

    <div id="copyright">
        <div class="container">
            <div class="row">
                <p class="span6">© 2013 Open WiFi.</p>
                <p class="span6"><a class="pull-right" href="#">Наверх &uarr;</a></p>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /copyright -->

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->

    </body>
</html>
