<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Open WiFi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/frequency.min.css" rel="stylesheet">

    <style>
        html { min-width: 1024px; }
        .featured a.screenshot:nth-child(2n) { width: 540px; left: 200px; }
        .featured a.screenshot:first-child { width: 540px; }
        .featured a.screenshot:nth-child(3n) { width: 540px; }
        .featured a.screenshot { background-repeat: no-repeat; }
        .alert { font-size: 16px; }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="http://openwifi.info">Open WiFi <span class="badge">&beta;</span></a>
                <ul class="nav pull-right">
                    <li><a href="/download">{{#t}}Download Application{{/t}}</a></li>
                    <!-- <li><a href="#">{{#t}}Statistics{{/t}}</a></li> -->
                    <!-- <li><a href="#">{{#t}}Terms of Service{{/t}}</a></li> -->
                </ul>
            </div> <!-- /container -->
        </div> <!-- /navbar-inner -->
    </div> <!-- /navbar -->

    <div id="page-title">
        <div class="container">
            <h1>{{#t}}Open Wi-Fi near you.{{/t}}</h1>
        </div><!-- /container -->
    </div><!-- /page-title -->
