<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Open WiFi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/frequency.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="./">Open WiFi</a>
                <ul class="nav pull-right">
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./portfolio.html">Portfolio</a></li>
                    <li><a href="./plans.html">Plans</a></li>
                    <li><a href="./elements.html">Elements</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div> <!-- /container -->
        </div> <!-- /navbar-inner -->
    </div> <!-- /navbar -->

    <div id="page-title">
        <div class="container">
            <h1>Text telling visitors about the things that you do and inviting them to explore.</h1>
        </div><!-- /container -->
    </div><!-- /page-title -->
