{{> header}}

    <div id="home">
        <div class="featured-container">
            <div class="featured">
                <a href="#" class="screenshot"><img src="http://placebox.es//520/700/D9D9D9/444/"/></a>
                <a href="#" class="screenshot"><img src="http://placebox.es/680/486/D9D9D9/444/680x486,24"/></a>
                <a href="#" class="screenshot"><img src="http://placebox.es/520/700/D9D9D9/444"/></a>
            </div><!-- /featured -->
        </div><!-- /featured-container -->

        <div class="container">
            <h2>Services Offered</h2>
            <div class="row">
                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Corporate Solutions</h3>
                    <p>Wikia chartly blyve ebay loopt trulia revver, ideeli grockit kaboodle trulia gsnap wesabe kaboodle, zanga groupon udemy appjet napster. Akismet zynga flickr chumby mobly palantir zoho.</p>
                    <p><a href="#" class="">Learn More &rarr;</a></p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Web Development</h3>
                    <p>Cotweet ideeli oovoo klout kiko, blyve spock joyent doostang fleck blekko jumo diigo airbnb plickers, ngmoco handango glogster gsnap lala twones geni airbnb cotweet jibjab. Yoono appjet rovio edmodo.</p>
                    <p><a href="#" class="">Learn More  &rarr;</a></p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Web Consulting</h3>
                    <p>Elgg qeyno mzinga jibjab octopart, ngmoco octopart nuvvo prezi disqus shopify cotweet voxy, blyve plugg kazaa gooru weebly rovio ebay. Gooru boxbe oovoo heroku zoodles, cuil eduvant zynga.</p>
                    <p><a href="#" class="">Learn More  &rarr;</a></p>
                </div><!-- /span4 -->
            </div><!-- /row -->

            <h2>Recent Projects</h2>
            <div class="row">
                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Warner Bros.</h3>
                    <p>Trulia revver, ideeli grockit kaboodle trulia gsnap wesabe kaboodle, zanga groupon udemy appjet napster akismet zynga.</p>
                    <p><a href="#" class="">Learn More &rarr;</a></p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Virgin Mobile</h3>
                    <p>Blyve spock joyent doostang fleck blekko jumo diigo airbnb plickers, ngmoco handango glogster gsnap lala twones geni airbnb cotweet.</p>
                    <p><a href="#" class="">Learn More &rarr;</a></p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Sony Online</h3>
                    <p>Ngmoco octopart nuvvo prezi disqus shopify cotweet voxy, blyve plugg kazaa gooru weebly rovio ebay. Gooru boxbe oovoo heroku.</p>
                    <p><a href="#" class="">Learn More &rarr;</a></p>
                </div><!-- /span4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /content -->

{{> footer}}
