{{> header}}

    <div id="home">
        <div class="featured-container">
            <div class="featured">
                <a href="/download" class="screenshot"><img src="/static/img/featured4.png"/></a>
                <a href="/download" class="screenshot"><img src="/static/img/featured1.png"/></a>
                <a href="/download" class="screenshot"><img src="/static/img/featured2.png"/></a>
            </div><!-- /featured -->
        </div><!-- /featured-container -->

        <div class="container">
            <h2>{{#t}}How It Works{{/t}}</h2>

            <div class="row">
                <div class="span4">
                    <img src="/static/img/in-development.png" alt="В разработке">
                    <h3>Скачайте приложение</h3>
                    <p><a href="/download">Скачайте</a> мобильное приложение.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/map.png" alt="Подключайтесь">
                    <h3>Подключайтесь</h3>
                    <p>Приложение покажет известные открытые сети Wi-Fi.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/scanning-started.png" alt="Находите новые сети">
                    <h3>Находите новые сети</h3>
                    <p>Запустите поиск сетей и ищите новые открытые сети.</p>
                </div><!-- /span4 -->
            </div><!-- /row -->

            <h2>{{#t}}Features{{/t}}</h2>

            <div class="row">
                <div class="span4">
                    <img src="/static/img/map2.png" alt="{{#t}}Network Map{{/t}}">
                    <h3>{{#t}}Network Map{{/t}}</h3>
                    <p>Вы сможете увидеть местоположение беспроводных сетей и области, в которых доступен их сигнал.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/rating.png" alt="Список доступных сетей">
                    <h3>Рейтинг сетей</h3>
                    <p>Мы постоянно отслеживаем, насколько легко подключиться к каждой сети.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/in-development.png" alt="В разработке">
                    <h3>Автоподключение</h3>
                    <p>Настраивайте, уведомлять ли вас, когда обнаружена открытая сеть, или подключаться автоматически.</p>
                </div><!-- /span4 -->
            </div><!-- /row -->

            <div class="row">
                <div class="span4">
                    <img src="/static/img/sync.png" alt="Экран настроек">
                    <h3>Регулярные обновления</h3>
                    <p>Вы регулярно будете получать информацию обо всех сетях, которые обнаружили другие пользователи.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/in-development.png" alt="В разработке">
                    <h3>Достижения</h3>
                    <p>Обновляйте данные об открытых сетях Wi-Fi и получайте персональные награды.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="/static/img/in-development.png" alt="В разработке">
                    <h3>Микро-обновления</h3>
                    <p>Вы сможете сэкономить трафик, если у вас возникнет необходимость найти доступную сеть недалеко от вас.</p>
                </div><!-- /span4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /content -->

{{> footer}}
