{{> header}}

    <div id="home">
        <div class="featured-container">
            <div class="featured">
                <a href="#" class="screenshot"><img src="http://placebox.es//520/700/D9D9D9/444/"/></a>
                <a href="#" class="screenshot"><img src="http://placebox.es/680/486/D9D9D9/444/680x486,24"/></a>
                <a href="#" class="screenshot"><img src="http://placebox.es/520/700/D9D9D9/444"/></a>
            </div><!-- /featured -->
        </div><!-- /featured-container -->

        <div class="container">
            <h2>Как это работает</h2>

            <div class="row">
                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Скачайте приложение</h3>
                    <p>Скачайте мобильное приложение на <a href="#">Google Play</a> или <a href="#">Яндекс.Store</a>.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Подключайтесь</h3>
                    <p>Приложение покажет известные открытые точки доступа Wi-Fi.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Ищите новые точки</h3>
                    <p>Запустите сканирование и ищите новые открытые точки доступа Wi-Fi.</p>
                </div><!-- /span4 -->
            </div><!-- /row -->

            <h2>Широкие возможности</h2>

            <div class="row">
                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Автоподключение</h3>
                    <p>Настраивайте, уведомлять ли вас, когда обнаружена открытая сеть, или подключаться автоматически.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Рейтинг сетей</h3>
                    <p>Мы постоянно отслеживаем, насколько легко подключиться к каждой точке доступа.</p>
                </div><!-- /span4 -->

                <div class="span4">
                    <img src="http://placebox.es/300/243/D9D9D9/444/300x243,18">
                    <h3>Регулярные обновления</h3>
                    <p>Вы регулярно будете получать информацию обо всех точках доступа, которые обнаружили другие пользователи.</p>
                </div><!-- /span4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /content -->

{{> footer}}
